@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0c0c0c;
}

.pageActive {
  background-color: #283b39;
  border-radius: 0.5rem;
  text-align: center;
}

.custom-scrollbar {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

.different-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(40, 59, 57, 0.9) rgba(0, 0, 0, 0.7);
}

.different-scrollbar::-webkit-scrollbar {
  width: 0.5vw;
}

.different-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(40, 59, 57, 0.7);
  transition: all 1s ease-in-out;
}

.different-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(40, 59, 57, 0.9);
}

.different-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.7);
}
